body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('clockimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.stopwatch {
    text-align: center;
    background-color: #F4C882;
    border: 7px solid beige;

}

.display {
    font-size: 2em;
    margin: 10px 0;
   
}

button {
    font-size: 1em;
    margin: 5px;
    padding: 5px 10px;
}

button:hover{
    background-color: pink;
    color: red;
}

.laps {
    margin-top: 10px;
}

.heading {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}